* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Apply Flexbox to the body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    width: 100%;
}

/* Style the header */
header {
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/* Logo */
.logo {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.logo .icon {
  font-size: 1.5em;
}

.logo .title {
  font-weight: bold;
}

/* Style for the navigation */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Apply Flexbox to the main container */
main {
    display: flex;
    flex-direction: row;
    flex: auto;
    padding: 20px;
}

/* Style the article and aside */
article {
    flex: 2;
    padding: 20px;
    overflow-y: auto;
    background-color: #ecf0f1;
    border-radius: 5px;
}

aside {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #e0e0e0;
}

/* Style the footer */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
